@model IEnumerable<OlindaSharksWeb.Models.Player>

@{
    ViewBag.Titulo = "Jogadores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form id="form-processar-analise">
    <div class="box box-primary" id="panelCollapse">
        <div class="box-header">
            <a href="@Url.Action("Adicionar", "Player")" class="btn btn-block btn-success pull-right" style="width: 100px;">Criar</a>
            <input type="button" class="btn btn-block btn-info pull-right" style="width: 100px; margin-top: 0px; margin-right: 10px;" value="Editar" id="btnEditar" />
            <input type="button" class="btn btn-block btn-default pull-right" style="width: 100px; margin-top: 0px; margin-right: 10px;" value="Excluir" id="btnExcluir" />
        </div>
        <div class="box-body with-border">
            <div class="form-group">
                <table id="grid" class="display table table-bordered table-striped dataTable" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>
                                Nome
                            </th>
                            <th>
                                Apelido
                            </th>
                            <th>
                                CPF
                            </th>
                            <th>
                                RG
                            </th>
                            <th>
                                Data de Nascimento
                            </th>
                            <th>
                                Endereço
                            </th>
                            <th>
                                Telefone
                            </th>
                            <th>
                                Facebook
                            </th>
                            <th>
                                Instagram
                            </th>
                            <th>
                                Altura
                            </th>
                            <th>
                                Peso
                            </th>
                            <th>
                                Time
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @Html.HiddenFor(modelItem => item.IdPlayer, new { @class = "hidden-id" })
                                @Html.DisplayFor(modelItem => item.Name) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Nickname) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Cpf) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rg)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateOfBorn) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Address) 
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Telephone)
                            </td>
                            <td>
                                <a href="@item.ProfileFacebook" class="fa fa-facebook-official" target="_blank"></a>
                            </td>
                            <td>
                                <a href="@item.ProfileInstagram" class="fa fa-instagram" target="_blank"></a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Height)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Weight)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IdTeamFK)
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- /.box -->
</form>

<!-- /.box -->
@section scripts
{
    

<script type="text/javascript" charset="utf-8">

    $(document).ready(function () {
        $('#grid').DataTable({
            columnDefs: [
                {
                    //targets: [0],
                    //sortable: true,
                    //width: '100%'
                }
            ],
            order: [[0, "asc"]],
            oLanguage: {
                "sEmptyTable": "Nenhum registro encontrado",
                "sInfo": "Mostrando de _START_ até _END_ de _TOTAL_ registros",
                "sInfoEmpty": "Mostrando 0 até 0 de 0 registros",
                "sInfoFiltered": "(Filtrados de _MAX_ registros)",
                "sInfoPostFix": "",
                "sInfoThousands": ".",
                "sLengthMenu": "_MENU_ resultados por página",
                "sLoadingRecords": "Carregando...",
                "sProcessing": "Processando...",
                "sZeroRecords": "Nenhum registro encontrado",
                "sSearch": "Pesquisar",
                "oPaginate": {
                    "sNext": "Próximo",
                    "sPrevious": "Anterior",
                    "sFirst": "Primeiro",
                    "sLast": "Último"
                },
                "oAria": {
                    "sSortAscending": ": Ordenar colunas de forma ascendente",
                    "sSortDescending": ": Ordenar colunas de forma descendente"
                }
            }
        });

        var table = $('#grid').DataTable();

        $('#grid tbody').on('click', 'tr', function () {
            if ($(this).hasClass('selected')) {
                $(this).removeClass('selected');
            }
            else {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        }); 
    });

    function Remover(id) {

        $("#Loading").show();
        document.body.style.cursor = 'wait';
        $.ajax({
            url: "/Player/Remover",
            data: { id: id.toString() },
            type: "POST",
            async: true,
            cache: false,
            success: function (data) {

                $.MessageBoxOK({
                    mensagem: data.Result,
                    argFuncao: data.Status,
                    funcaoBotaoOK: function (status) {
                        if (status == 0)
                            window.location = '/Player/Index';
                    }
                });

                document.body.style.cursor = 'default';
                $("#Loading").fadeOut();
            },
            error: function (data) {

                if (data.Result == undefined) {
                    alert(data.responseText);
                } else {
                    alert(data.Result);
                }

                document.body.style.cursor = 'default';
                $("#Loading").fadeOut();
            }
        });
    }

    $('#btnEditar').click(function () {

        var id = $('table.display:visible').find('tr.selected').find('input.hidden-id').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        window.location = '/Player/Editar?id=' + id;
    });

    $('#btnExcluir').click(function () {
        var id = $('table.display:visible').find('tr.selected').find('input.hidden-id').map(function (idx, elem) {
            return $(elem).val();
        }).get();

        if (id === "" || id.length <= 0) {
            $.MessageBoxOK({ mensagem: "Nenhum Jogador selecionado." });
            return;
        }

        $.MessageBoxSimNao({
            titulo: "Remover Jogador?",
            mensagem: "Confirma remoção do Jogador?",
            height: "auto",
            width: "auto",
            funcaoBotaoSim: function () {
                Remover(id);
            }
        });
    });

    
  
</script>
}